<suite name="Project Name">
    <groups>
        <run>
            <include name="email"/>
        </run>
    </groups>


    <test name="module 1">
        <classes>
            <class name="TestNGDemos.Demo.ClassOne">
             <!--   <methods>
                  &lt;!&ndash;  <exclude name="classOneTest1"/>
                    <exclude name="classOneTest2"/>&ndash;&gt;
                    <include name="classOneTest1"/>
                </methods>-->


            </class>



            <class name="TestNGDemos.Demo.ClassTwo"/>
        </classes>
    </test>

    <test name="module 2">
        <classes>
            <class name="TestNGDemos.Demo.ClassThree"/>
        </classes>
    </test>

</suite>